.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content{
    flex: 1;
}

.container-navbar{
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 80px;

    position: sticky;
    top: 0;
    z-index: 1000;

    background: rgba(5, 14, 31, 0.5); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.nav-title{
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    color: #dee5ff;
}
.links{ 
    flex: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 30px;
}
.links a{
    text-decoration: none;
    color: #a3aac4;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    transition: 0.3s;
}
.links a:hover{
    color: #c7b8ff;
    border-bottom: 2px solid #c7b8ff;
}
.links a.active{
    color: #c7b8ff;
    border-bottom: 2px solid #c7b8ff;
}
.resume{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.resume-btn{
    background-color: #bd9dfe;   
    color: #3b1287;              
    border: none;
    padding: 12px 28px;
    border-radius: 30px;         
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.resume-btn:hover{
    background-color: #b3a0ff;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    background-color: #071328;
    border-top: 1px solid rgba(255,255,255,0.04);
}

.footer-left{
    flex: 1;
    color: #dee5ff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.footer-center{
    flex: 1;
    text-align: center;
    color: #8e97b5;
    font-size: 16px;
    font-weight: 500;
}

.footer-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 28px;
}

.footer-right a{
    text-decoration: none;
    color: #8e97b5;
    font-size: 16px;
    transition: 0.3s ease;
}

.footer-right a:hover{
    color: #c7b8ff;
}